<!DOCTYPE html>
<html>
  <head>
    <title>Cayana</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

<header>
  <nav>
     <a href="/">
<ul>
  <li>   <%= image_tag ("logo.png") %>
  </li>
  <li><strong>Cayana</strong></li>
</ul>

 </a>
 <% if user_signed_in? %>

<ul>
  <li><a href="#">Search</a></li>
  <li><a href="#">Me</a></li>
  <li> <%= link_to "Tsip!", new_article_path, role: "button" %> </li>
</ul>

<% end %>


<ul>
  <li>
  <p class="navbar-text float-right">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <ul>
      <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
   </li>
    </ul>
  <% end %>

  </p>
  </li>
  </ul>

</nav>
</header>


    <main>
      <%= yield %>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </main>


  </body>
</html>
